build/
install/
log/
*.pyc
__pycache__
*.swp
src/BehaviorTree/
src/navigation2/
src/ros-navigation/
src/ros/
src/ros2/
src/.vscode/
src/BehaviorTree.ROS2/.vscode
src/BehaviorTree.ROS2/behaviortree_ros2/.vscode
src/eai_bt_controller/.vscode

